* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #4c2e00, #4a2500, #471c00, #431300, #3e0a00, #380703, #320504, #2c0205, #250207, #1d0106, #120104, #000000);
  backdrop-filter: blur(5px);
  color: #f2f2f2;  
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  background-size: 500%;
  animation: bg-color-change 20s infinite alternate;
}

@keyframes bg-color-change {
    0% {
        background-position: left;
    }
    25% {
        background-position: top;
    }
    50% {
        background-position: right;
    }
    100%{
        background-position: bottom;
    }
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  height: 100%;
  margin: auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.line {
  position: relative;
  width: 1px;
  height: 100%;
  /* background: #ffffff;   */
  overflow: hidden;
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 5s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

/* Different colors for each line's pseudo-element */
.line:nth-child(1)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.1s;
}

.line:nth-child(2)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(3)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 1s;
}

.line:nth-child(4)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 2s;
}

.line:nth-child(5)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.1s;
}

.line:nth-child(6)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 2.5s;
}

.line:nth-child(7)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 0.5s;
}

.line:nth-child(8)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 1s;
}

.line:nth-child(9)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 1.5s;
}

.line:nth-child(10)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FF4500 75%, #FF4500 100%);
  animation-delay: 2s;
}
@keyframes drop {
  0% {
    top: -10%;
  }
  100% {
    top: 110%;
  }
}

.profile-container {
    /* height: 800px;
    width: 800px; */
    /* position: absolute; */
    justify-self: center;
    align-self: center;
}

/* .profile-container div {
    width: 300px;
    height: 300px; 
    border-radius: 50%; 
    float: right; 
    background: rgb(56, 56, 56);
    margin: 16% 15%;
    position: relative;
    backdrop-filter: blur(30px);
} */

.profile-container img {
    /* margin-bottom: 50%; */
    margin-left: 15%; 
    position: absolute;
}

.details-container {
    background: rgba(182, 182, 182, 0.2);
    backdrop-filter: blur(10px);
    margin-top: 70px;
    height: 80%;
    width: 85%;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
}

.bio-container {
  margin-left: 10%;
  margin-top: 5%;
  position: absolute;
}

.greet {
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(230, 220, 220);
}

.myname {
    font-family: sans-serif;
    font-size: 25px;
    background: linear-gradient(to right, red, rgb(255, 115, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -10;
    font-weight: bold;
    /* text-shadow: 0 0 55px rgb(255, 115, 0),
               0 0 55px rgb(151, 68, 0),
               0 0 55px rgb(0, 0, 0); */
}

.designation {
    font-family: sans-serif;
    font-size: 45px;
    background: linear-gradient(to right, rgb(97, 0, 0) 10%, rgb(255, 115, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* text-shadow: 0 0 55px rgb(116, 52, 0); */
               /* 0 0 55px rgb(116, 52, 0),
               0 0 55px rgb(85, 38, 0); */
}

.social-media-container img {
    margin-top: 20px;
    height: 25px;
    width: 25px;
    margin-inline-end: 50px;
}

.buttons {
    display: inline-flex;
}

.get-started{
    margin-right: 20px;
    background: linear-gradient(to right, rgb(185, 59, 0) 10%, rgb(255, 115, 0));
    font-family: sans-serif;
    color: rgb(230, 220, 220);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}

.download-cv {
    border-color: rgb(230, 220, 220);
    border-radius: 10px;
    font-family: sans-serif;
    margin-top: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    color: rgb(230, 220, 220);
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-weight: bold;
}

.achivments {
    display: flex;
}

.experience {
    margin-top: 50px;
    margin-right: 30px;
    border-top: none;
    border-right: 2px solid rgb(230, 220, 220);
    border-bottom: none;
    border-left: 2px solid rgb(230, 220, 220);
    padding-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
} 

.projects {
    margin-top: 50px;
    margin-right: 30px;
    border-top: none;
    border-right: 2px solid rgb(230, 220, 220);
    border-bottom: none;
    border-left: 2px solid rgb(230, 220, 220);
    padding-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
}

.clients {
    margin-top: 50px;
    border-top: none;
    border-right: 2px solid rgb(230, 220, 220);
    border-bottom: none;
    border-left: 2px solid rgb(230, 220, 220);
    padding-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
} 

.achivment-numbers {
    font-family: sans-serif;
    color: rgb(255, 115, 0);
    font-weight: bold;
}

.achivment-details {
    font-family: sans-serif;
    color: rgb(230, 220, 220);
}

.logo-container {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(230, 220, 220);
  margin: 20px 20px;
  position: absolute;
  float: right;
  transform: rotate(-45deg);
}

.logo-container div{
  background: linear-gradient(to right, red, rgb(255, 115, 0));
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(230, 220, 220);
}
